* {
    box-sizing: border-box;      
}

body {    
    display: flex; 
    flex-direction: column;    
    justify-content: flex-start;   
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f1f1f1;    
}

.container {    
    display: flex;
    flex-direction: row;    
    max-width: 1200px; 
    width: 100%;  /* Die gesamte Breite ausnutzen */
    min-height: 90vh;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
    border-radius: 10px;
    overflow: hidden;    
    flex-grow: 1;
}

.content{
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;      
}

.sidebar, .content {
    font-family: Arial, Helvetica, sans-serif;   
}

.sidebar {    
    width: 100%;
    max-width: 360px;  
    flex-shrink: 0;
    background-color: #edf1f5;
    padding-top: 20px;
    overflow: hidden;
}

.sidebar a {
    padding: 8px 16px;
    text-decoration: none;    
    font-size: 25px;
    color: #000000;
    display: block;    
}

.sidebar a:hover {
    color: #ffffff;
    background-color: #a8abad;
}

.profilbild {
    border-radius: 5%;
    max-width: 90%;
    display: block;   
    margin-left: auto;
    margin-right: auto;  
    margin-bottom: 20px;    
}

.social-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.social-media {
    margin-top: 15px;    
    text-align: left;
}

.social-media a {
    display: inline-block;
    margin-left: 16px;
    padding: 1px;    
}

.social-media a:hover img {
    transform: scale(1.1); /* Icons vergrössern sich leicht */
}

.social-media a:hover {
    background-color: transparent; /* Verhindert Hover-Effekt auf Icons */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    width: 100%;
    margin-top: auto; /* Stellt sicher, dass der Footer unten bleibt */ 
    position: relative;  
}

.resume h2 {
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 15px;
    background-color: #f6fbef;
}

.headings{
    border-left: 5px solid #f8c34f ;
    padding-left: 10px;
}

.resume-background {
    background-color: rgba(225, 234, 252, 0.959);
    padding: 25px;
    margin: 10px 0;
    border-radius: 10px;

}
.resume-time{
    color: rgb(250, 58, 106);
    border-color: rgb(250, 18, 76);
    border: solid 1px;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 13px;
    display: inline-block;
}
.resume-title{
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: bold;
color: #000000;
margin: 12px 0;
}
.resume-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;    
    color: #000000;
}

.contact-box {
    display: flex;
    align-items: center;     
    margin-top: 15px;
    margin-left: 18px;
  }

  .contact-box a {
    font-size: 17px;
    margin: 0; /* Entfernt die Abstände die für die Links entsehen */
    padding: 0; /* Entfernt die Abstände die für die Links entsehen */
}

.contact-box a:hover { /* Deaktiviert den Hover Effekt für den E-Mail Link*/
    color: inherit;  /* Keine Farbänderung */
    font-size: inherit;  /* Keine Grössenänderung */
    background-color: transparent; /* Keine Hintergrundfarbe */    
    text-decoration: none; /* Entfernt unterstrichene Links im Hover-Zustand */
}

.contact-image img { /*Bildgrösse der Kontakt Icons*/
    width: 30px;
    height: 30px; 
  }

.contact-text { /*Text Details und Abstand für die Kontakt-Infos*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-left: 20px;    
  }

.projekte-box, .aboutme-text{
    border: #a8abad 1px solid;
    border-radius: 8px;
    padding: 10px;
    margin: 20px 0px;   
}

.projekte-box {
    background-color:#eea3803a;
}

.aboutme-text {
    background-color:rgb(255, 250, 240);
}

.projekte-bilder img{
    border: #000000 solid 1px;    
    transition: transform .2s;
    width: 400px;
}


.projekte-bilder:hover img {
    transform: scale(1.03); /* Icons vergrössern sich leicht */
}

.projekte-links a {
    color:#ffffff;
    background-color: #b0d81d;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}